target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

.git
.hg
.svn
.hgsvn

*.iml
*.ipr
*.iws
.idea

.settings
.project

target
classes
bin
WEB-INF/classes
WEB-INF/lib
build

jupyter/*